/* src/styles/navbar.css */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #333;
	color: white;
}

.navbar ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	flex-grow: -1;
}

.navbar ul li {
	margin-right: 20px;
}

.navbar ul li a {
	color: white;
	text-decoration: none;
}

.navbar ul li a:hover {
	text-decoration: underline;
}

.theme-toggle-container {
	display: flex;
	justify-content: flex-end;
	flex-grow: 0;
}

.theme-toggle {
	background: none;
	border: none;
	color: white;
	font-size: 24px;
	cursor: pointer;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
